.page {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #2a2c2f;
  width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
}