@import url(./__list/places__list.css);
.places {
  width: calc(1280px - 148px*2);
  padding: 0;
  margin: auto;
  margin-bottom: 92px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    /* width: (100% - 24px * 2); */
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 670px) {
  .places {
    margin: 0;
    margin-bottom: 64px;
    width: 100%;
  }
}

