.place__image {
    display: flex;
    width: calc(100% - 40px);
    margin-right: 40px;
    grid-area: image;
}

@media screen and (max-width: 520px) {
    .place__image {
        margin-right: 0;
        margin-bottom: 24px;
    }
}