@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
@import url(./__image-place/lead__image-place.css);

.lead {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0;
  }
}

@media screen and (max-width: 950px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-bottom: 64px;
  }
}