@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__text-box/cover__text-box.css);
@import url(./__link/cover__link.css);


.cover {
    position: relative;   
        position: relative;   

    align-self: center;
    box-sizing: border-box;
    margin: 0 auto 0;
    max-width: 1184px;
    width: calc(100% - 96px);

}


@media (max-width: 1024px) {
    .cover {
        width: 100%;
    }
} 
